# Projeto Data Mining II - Colorectal Cancer

## 1: Import libraries and Data

In [ ]:
# Installations
#pip install seaborn

# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

SyntaxError: invalid syntax (849712566.py, line 2)

In [12]:
# This script downloads a CSV file from a given URL and loads it into a pandas DataFrame.
url = "https://raw.githubusercontent.com/rgerc8/dm2-class-cancer/9bc81e82c839d3a4b14415d5bbd448452adad0f8/DM2%20Project%20Datasets/patient_train_data.csv"
df_original = pd.read_csv(url)
df = df_original.copy()

## 2: Exploratpry Data Analysis (EDA)

In [18]:
df.shape #(75035, 32)

(75035, 32)

In [19]:
df.head(5)

,ID,Alcohol Consumption,Cancer Stage,Country,Date of Birth,Diabetes,Diabetes History,Diet Risk,Early Detection,Family History,...,Non Smoker,Obesity BMI,Physical Activity,Screening History,Smoking History,Transfusion History,Treatment Type,Tumor Size (mm),Urban or Rural,Survival Prediction
0,1,No,Localized,UK,29-01-1966,No,No,Moderate,No,No,...,Yes,Overweight,Low,Regular,No,-,Chemotherapy,33.0,Urban,Yes
1,2,No,Regional,Japan,21-12-1958,No,No,Low,No,No,...,No,Normal,Low,Irregular,Yes,-,Chemotherapy,17.0,Urban,No
2,3,No,Localized,France,16-06-1959,No,No,Low,Yes,No,...,No,Normal,Moderate,Never,Yes,-,Surgery,34.0,Urban,Yes
3,4,Yes,Localized,Japan,18-01-1956,Yes,No,Moderate,No,No,...,Yes,Obese,Low,Regular,No,-,Radiotherapy,71.0,Urban,No
4,5,No,Regional,USA,04-05-1975,No,No,Moderate,Yes,Yes,...,Yes,Overweight,Low,Regular,No,-,Radiotherapy,48.0,Rural,Yes

In [20]:
df.tail(5)

,ID,Alcohol Consumption,Cancer Stage,Country,Date of Birth,Diabetes,Diabetes History,Diet Risk,Early Detection,Family History,...,Non Smoker,Obesity BMI,Physical Activity,Screening History,Smoking History,Transfusion History,Treatment Type,Tumor Size (mm),Urban or Rural,Survival Prediction
75030,75031,Yes,Localized,Italy,06-07-1972,No,No,High,No,No,...,Yes,Obese,Moderate,Regular,No,-,Chemotherapy,42.0,Urban,No
75031,75032,Yes,Localized,USA,28-11-1954,No,No,Low,Yes,No,...,Yes,Overweight,Moderate,Regular,No,-,Chemotherapy,38.0,Urban,No
75032,75033,Yes,Metastatic,South Korea,27-04-1963,No,No,Moderate,Yes,Yes,...,Yes,Obese,Low,Regular,No,-,Surgery,60.0,NaN,Yes
75033,75034,No,Localized,South Africa,22-12-1951,No,No,High,Yes,No,...,Yes,Obese,Low,Never,No,-,Surgery,50.0,Rural,Yes
75034,75035,Yes,Regional,France,23-07-1948,No,No,Moderate,No,Yes,...,Yes,Overweight,High,Irregular,No,-,Combination,41.0,Urban,No

In [25]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,75035.0,37518.000000,21660.883061,1.000000,18759.50,37518.0,56276.50,75035.000000
Healthcare Costs,74982.0,72551.277478,27536.228351,-69123.238747,48788.25,72531.5,96426.75,213690.042716
Incidence Rate per 100K,74999.0,34.552283,14.511506,10.000000,22.00,34.0,47.00,109.212990
Marital Status,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mortality Rate per 100K,74974.0,17.054440,7.206834,-16.612959,11.00,17.0,23.00,51.679554
Tumor Size (mm),74962.0,42.054665,21.733090,5.000000,23.00,42.0,61.00,155.758628

In [24]:
df.describe(include = ['O']).T

                            count unique           top   freq
Alcohol Consumption         74983      2            No  37510
Cancer Stage                75022      3      Regional  29882
Country                     74985     16           USA  11627
Date of Birth               74975  11062    09-06-1949     19
Diabetes                    75021      2            No  60078
Diabetes History            75035      2            No  75025
Diet Risk                   74987      3      Moderate  37630
Early Detection             75005      2           Yes  44883
Family History              74989      2            No  52458
Gender                      74956      3             M  44999
Genetic Mutation            75005      2            No  63882
Healthcare Access           74972      4      Moderate  37197
Heart Disease History       75035      2            No  67410
Hypertension                75035      2            No  59954
Inflammatory Bowel Disease  75004      2            No  67502
Insurance Costs             75035      3  No insurance  25169
Insurance Status            74974      2       Insured  52776
Non Smoker                  75035      2           Yes  44877
Obesity BMI                 75011      3    Overweight  30035
Physical Activity           74972      3      Moderate  29898
Screening History           74982      3       Regular  30152
Smoking History             74974      2            No  44836
Transfusion History         75035      1             -  75035
Treatment Type              74972      4       Surgery  29882
Urban or Rural              74984      4         Urban  49834
Survival Prediction         75035      2           Yes  45069

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75035 entries, 0 to 75034
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          75035 non-null  int64
 1   Alcohol Consumption         74983 non-null  object
 2   Cancer Stage                75022 non-null  object
 3   Country                     74985 non-null  object
 4   Date of Birth               74975 non-null  object
 5   Diabetes                    75021 non-null  object
 6   Diabetes History            75035 non-null  object
 7   Diet Risk                   74987 non-null  object
 8   Early Detection             75005 non-null  object
 9   Family History              74989 non-null  object
 10  Gender                      74956 non-null  object
 11  Genetic Mutation            75005 non-null  object
 12  Healthcare Access           74972 non-null  object
 13  Healthcare Costs            74982 non-null  float64
 14  Heart Disease History       75035 non-null  object
 15  Hypertension                75035 non-null  object
 16  Incidence Rate per 100K     74999 non-null  float64
 17  Inflammatory Bowel Disease  75004 non-null  object
 18  Insurance Costs             75035 non-null  object
 19  Insurance Status            74974 non-null  object
 20  Marital Status              0 non-null      float64
 21  Mortality Rate per 100K     74974 non-null  float64
 22  Non Smoker                  75035 non-null  object
 23  Obesity BMI                 75011 non-null  object
 24  Physical Activity           74972 non-null  object
 25  Screening History           74982 non-null  object
 26  Smoking History             74974 non-null  object
 27  Transfusion History         75035 non-null  object
 28  Treatment Type              74972 non-null  object
 29  Tumor Size (mm)             74962 non-null  float64
 30  Urban or Rural              74984 non-null  object
 31  Survival Prediction         75035 non-null  object
dtypes: float64(5), int64(1), object(26)
memory usage: 18.3+ MB

In [28]:
df.skew(numeric_only=True)

ID                         0.000000
Healthcare Costs          -0.001733
Incidence Rate per 100K    0.027104
Marital Status                  NaN
Mortality Rate per 100K   -0.005866
Tumor Size (mm)            0.021154
dtype: float64

In [29]:
df.kurtosis(numeric_only=True)

ID                        -1.200000
Healthcare Costs          -1.086328
Incidence Rate per 100K   -1.075704
Marital Status                  NaN
Mortality Rate per 100K   -1.158039
Tumor Size (mm)           -1.093692
dtype: float64

In [30]:
df.corr(method='pearson', numeric_only=True)

,ID,Healthcare Costs,Incidence Rate per 100K,Marital Status,Mortality Rate per 100K,Tumor Size (mm)
ID,1.000000,0.002549,0.003406,NaN,0.003539,-0.001101
Healthcare Costs,0.002549,1.000000,0.003471,NaN,-0.003858,0.000513
Incidence Rate per 100K,0.003406,0.003471,1.000000,NaN,0.003927,0.000228
Marital Status,NaN,NaN,NaN,NaN,NaN,NaN
Mortality Rate per 100K,0.003539,-0.003858,0.003927,NaN,1.000000,-0.000756
Tumor Size (mm),-0.001101,0.000513,0.000228,NaN,-0.000756,1.000000

In [33]:
pd.crosstab(df["Cancer Stage"], df["Diabetes History"], margins=True)
#df["Cancer Stage"].value_counts()
#df["Diabetes History"].value_counts()

Diabetes History     No  Yes    All
Cancer Stage
Localized         29817    3  29820
Metastatic        15319    1  15320
Regional          29876    6  29882
All               75012   10  75022